@font-face {
  font-family: "Bangers";
  src: url(fonts/Bangers-Regular.ttf);
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/380294_desert landscape with cactus trees and rocks_ _xl-1024-v1-0.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Bangers", serif;
}

canvas {
  width: 100%;
  position: absolute;
}

.Impressumdesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  width: 100%;
}

.btn {
  position: absolute;
  right: 41%;
  top: 51%;
  border: none;
  background-color: #ffd50e;
  border-radius: 50% 50%;
  height: 5%;
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50% 50%;
  background-color: #ffd50e;
}

.throw-button-container,
.jump-button-container {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.boxalign {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 41px);
  justify-content: center;
  align-items: center;
}

.helpbutton {
  position: absolute;
  z-index: 99;
  top: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helpbutton:hover {
  border-radius: unset;
  background-color: unset;
  box-shadow: unset;
}

.help {
  width: 20px;
  height: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: center;
}

a {
  color: black;
  font-size: 24px;
}

a:hover {
  color: white;
}

.buttonscontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.closing button:hover {
  box-shadow: unset;
  border-radius: unset;
  background-color: unset;
}

.alignment {
  width: fit-content;
}

.upbutton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonscontainer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
}

button span {
  font-size: 24px;
}

.intro {
  width: 720px;
  height: 480px;
  position: absolute;
}

.outro {
  width: 720px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5);
}

.gameovercontainer {
  position: absolute;
  bottom: 5px;
  z-index: 99;
  width: 100%;
  gap: 6%;
  display: flex;
  justify-content: space-evenly;
}

.gameovercontainer button {
  font-size: 43px;
  font-weight: 700;
  border: 1px solid #ffd50e;
  background-color: #ffd50e;
  color: #000;
}

.d-none {
  display: none;
}

.gameovercontainer button:hover {
  background-color: #e6bc00;
  color: #fff;
  border-radius: unset;
}

.intro img {
  width: 720px;
  height: 480px;
}

.outro img {
  width: 720px;
  height: 480px;
}

button img {
  width: 40px;
  height: 40px;
}

.instructions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.closing {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 15px;
}

.closing button {
  color: white;
  font-size: 24px;
  padding-right: 20px;
}

.white {
  color: white;
}

@media (max-width: 752px) {
  .box {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .btn {
    font-size: 2vw;
  }
  .buttonscontainer {
    flex-direction: column;
  }
  .throw-button-container,
  .jump-button-container {
    display: flex;
  }
}
