body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/380294_desert landscape with cactus trees and rocks_ _xl-1024-v1-0.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

canvas {
  width: 100%;
}

.btn {
  position: absolute;
  right: 34%;
  top: 50%;
  border: none;
  background-color: #ffd50e;
  border-radius: 50% 50%;
  height: 14%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50% 50%;
  background-color: #ffd50e;
}

.throw-button-container,
.jump-button-container {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.boxalign {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
  justify-content: center;
  align-items: center;
}

.buttonscontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.alignment {
  width: fit-content;
}

.upbutton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonscontainer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
}

button span {
  font-size: 24px;
}

button img {
  width: 40px;
  height: 40px;
}

@media (max-width: 752px) {
  .box {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .btn {
    font-size: 2vw; /* Adjust the value as needed */
  }
  .buttonscontainer {
    flex-direction: column;
  }
  .throw-button-container,
  .jump-button-container {
    display: flex;
  }
}
